/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
@font-face {
  font-family: "lato-black";
  src: url(../assets/fonts/lato/Lato-Black.ttf);
}
@font-face {
  font-family: "lato-black-italic";
  src: url(../assets/fonts/lato/Lato-BlackItalic.ttf);
}
@font-face {
  font-family: "lato-bold";
  src: url(../assets/fonts/lato/Lato-Bold.ttf);
}
@font-face {
  font-family: "lato-bold-italic";
  src: url(../assets/fonts/lato/Lato-BoldItalic.ttf);
}
@font-face {
  font-family: "lato-hairline";
  src: url(../assets/fonts/lato/Lato-Hairline.ttf);
}
@font-face {
  font-family: "lato-hairline-italic";
  src: url(../assets/fonts/lato/Lato-HairlineItalic.ttf);
}
@font-face {
  font-family: "lato-italic";
  src: url(../assets/fonts/lato/Lato-Italic.ttf);
}
@font-face {
  font-family: "lato-light";
  src: url(../assets/fonts/lato/Lato-Light.ttf);
}
@font-face {
  font-family: "lato-light-italic";
  src: url(../assets/fonts/lato/Lato-LightItalic.ttf);
}
@font-face {
  font-family: "lato";
  src: url(../assets/fonts/lato/Lato-Regular.ttf);
}
body {
  font-size: 1.6rem;
  color: #55596d;
  font-family: "lato", sans-serif;
  line-height: 1.4;
}
a {
  text-decoration: none;
  color: white;
}
.hidden {
  display: none;
}
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
  width: 100%;
  background: #bb1333;
  color: white;
}
@media (max-width: 1100px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
  }
}
@media (max-width: 500px) {
  header {
    position: relative;
    padding: 0;
  }
}
header .logo {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-direction: row;
  width: 50%;
}
@media (max-width: 500px) {
  header .logo {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row-reverse;
    width: 100%;
    padding-right: 30px;
    padding-top: 20px;
  }
}
header .logo i {
  padding-left: 20px;
  font-size: 3.2rem;
  display: none;
}
@media (max-width: 1100px) {
  header .logo i {
    display: none;
  }
}
@media (max-width: 500px) {
  header .logo i {
    display: block;
  }
}
header h1 {
  font-size: 4rem;
  width: 100%;
  font-family: "lato-bold";
  padding-left: 40px;
}
@media (max-width: 1100px) {
  header h1 {
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  header h1 {
    font-size: 3.2rem;
  }
}
header nav {
  font-size: 2.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 40%;
}
@media (max-width: 1100px) {
  header nav {
    width: 90%;
  }
}
@media (max-width: 500px) {
  header nav {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  header nav a {
    text-align: center;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
}
header nav a:hover {
  color: #08addd;
}
.home-page .welcome {
  background: linear-gradient(to bottom right, #1e50ee 25%, #08addd 65%);
  width: 100%;
  min-height: 575px;
  height: 90vh;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1100px) {
  .home-page .welcome {
    height: 85vh;
  }
}
.home-page .welcome h2 {
  text-align: center;
  width: 50%;
  font-size: 4.6rem;
  margin-bottom: 50px;
}
@media (max-width: 1100px) {
  .home-page .welcome h2 {
    width: 70%;
  }
}
.home-page .welcome p {
  width: 40%;
  font-size: 1.8rem;
}
@media (max-width: 1100px) {
  .home-page .welcome p {
    width: 60%;
  }
}
.home-page .welcome i {
  justify-self: flex-end;
  position: absolute;
  bottom: 30px;
  font-size: 4.8rem;
  opacity: 0.7;
}
.home-page .features-container {
  background: #002070;
  width: 100%;
  min-height: 800px;
  height: 100vh;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: column;
}
.home-page .features-container .wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.home-page .features-container .wrapper .feature {
  width: 30%;
}
.home-page .features-container .wrapper .feature img {
  width: 100%;
  height: 300px;
}
.home-page .features-container .wrapper .feature .feature-content h3 {
  font-size: 3.8rem;
  margin: 30px 0;
  text-align: center;
}
.home-page .features-container .wrapper .feature .feature-content p {
  font-size: 1.8rem;
}
.home-page .features-container i {
  position: absolute;
  bottom: 30px;
  font-size: 4.8rem;
  opacity: 0.7;
  left: 50%;
}
.home-page .email-signup {
  width: 100%;
  height: 300px;
  background: red;
  opacity: 0.85;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-page .email-signup h3 {
  font-size: 3.6rem;
  margin-bottom: 60px;
}
.home-page .email-signup form {
  width: 70%;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
}
.home-page .email-signup form input {
  color: white;
  background: transparent;
  border: 0;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  font-size: 1.8rem;
  width: 30%;
  margin-right: 80px;
  padding-bottom: 10px;
  text-align: center;
  outline: none;
}
.home-page .email-signup form input::placeholder {
  color: lightgray;
}
@media (max-width: 1100px) {
  .home-page .email-signup form input {
    width: 40%;
  }
}
.home-page .email-signup form button {
  width: 15%;
  color: #bb1333;
  font-weight: bold;
  padding: 15px;
  border-radius: 50px;
  font-size: 1.8rem;
}
@media (max-width: 1100px) {
  .home-page .email-signup form button {
    width: 40%;
  }
}
footer {
  color: white;
  width: 100%;
  height: 220px;
  background: #08addd;
  font-size: 2.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
footer nav {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
@media (max-width: 1100px) {
  footer nav {
    width: 60%;
  }
}
footer .footer-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}
footer .footer-content a {
  text-decoration: underline;
}
footer .footer-content p {
  margin-bottom: 20px;
}
footer .footer-content i {
  margin-right: 8px;
}
