.about-page {

    color: white;

    .team {
        background: @blue;
        height: auto;
        width: 100%;
        text-align: center;
        padding-bottom: 40px;

        h2 {
            font-size: 4.8rem;
            color: white;
            padding-top: 40px;
            padding-bottom: 60px;
        }

        .members {
            .flex(center; center;);
            flex-flow: wrap;
    
            .team-member {
                width: 30%;
                margin-bottom: 60px;
                padding: 30px;
    
                img {
                    width: 30%;
                    height: auto;
                }
            }
        }

        
    }
    
}