header {
    height: 50px;
    margin-top: 20px;
    .flex(space-between; baseline);
    background: white;

    h1 {
        font-size: 3.6rem;
        padding-left: 10px;
        width: 33.33%;
    }

    nav {
        width: 55.55%;
        text-align: right;
        .flex(space-around; center);

        a {
            color: @primary-font-color;
            height: 80px;
            font-size: 2.2rem;
            text-decoration: none;
        }

        a:hover {
            color: @background-color-4;
        }
    }
}