header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    padding: 20px 0;

    .flex(space-between; baseline;);
    width: 100%;
    background: @red;
    color: white;

    h1 {
        font-size: 4.0rem;
        width: 40%;
        font-family: "lato-bold";
        padding-left: 10px;
    }

    nav {

        font-size: 2.8rem;
        .flex(space-around; center;);
        width: 40%;

        a {

            &:hover {
                color: @lightblue;
            }
        }
    }
}