header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;

    padding: 20px 0;

    .flex(space-between; baseline;);
    width: 100%;
    background: @red;
    color: white;

    @media @tablet {
        .flex(center; center; column;);
        padding-top: 10px;
    }

    .logo {
        .flex(flex-start; baseline;);
        width: 50%;

        i {
            padding-left: 20px;
            font-size: 2.4rem;
            display: none;

            @media @tablet {
                display: none;
            }

            @media @phone {
                display: block;
            }
        }
    }

    h1 {
        font-size: 4.0rem;
        width: 100%;
        font-family: "lato-bold";
        padding-left: 40px;

        @media @tablet {
            margin-bottom: 20px;
        }
    }

    nav {

        font-size: 2.8rem;
        .flex(space-around; center;);
        width: 40%;

        @media @tablet {
            width: 90%;
        }

        a {

            &:hover {
                color: @lightblue;
            }
        }
    }
}